
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* table  */
.table{
  margin-left:  auto;
  margin-right: auto; 
  width: 75%;
  text-align: center;
  border: 2px  solid black;

}
.track {
  float: right;
  color: #ccc;
  margin-right: 10%;
}

.track .trackbtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor:context-menu;
  outline: none;
  margin-right: 10%;
}

.navbar a:hover, .track:hover .trackbtn {
  background-color: rgb(127, 206, 230);
}

.track-content {
  display:none;
  position: absolute;
  background-color: #aedce2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(48, 39, 39, 0.2);
  z-index: 1;
  text-decoration: #000;
}

.track-content a {
  float: none;
  color: black;
  padding: 12px 18px;
  text-decoration: none;

  text-align: left;
}

.trackt-content a:hover {
  background-color: #ddd;
}

.track:hover .track-content {
  display: block;
  widows: inherit;
}



.dropright {
  float: right;
  overflow: hidden;
  margin-right: 3%;
  color: #000;
  border: #000;

}

.dropright .dropbtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #dab0b0;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-right: 10%;
}

.navbar a:hover, .dropright:hover .dropbtn {
  background-color: rgb(38, 121, 124);
}

.dropright-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropright-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropright-content a:hover {
  background-color: #ddd;
}

.dropright:hover .dropright-content {
  display: block;
}
 .text{
   color: #000;
 }



/* stopppppppppppppppppppppppppppppppppppppppppppppppppp */




.drop
{
  float: right;
  overflow: hidden;
  color: #000;
  background-color: #c4bbf7;
  width: 11%;
  padding:10px 9px ;

}

.drop .dropbn
 {
  padding: 6px 4px 20px 20px;
 font-size: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  display: block;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
 
}



.topnav {
  overflow: hidden;
  background-color: #beb2b2;
 
   height: 50px;
  
  
}

.topnav a {

  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
 
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(197, 214, 224);
  
}

.topnav a.active {
  background-color: #7ebef3;
  color: rgb(22, 20, 20);
  margin-left: 10%;
}

.topnav .search-container {
  float: right;
  margin-left: 28%;
}

.topnav input[type=text] {
  padding: 6px 50px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-left:10px;
  float: left;

}

.topnav .search-container button {
  float: left;
  padding: 6px 15px;
  margin-top: 8px;
  margin-right: 360px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.topnav .search-container button:hover {
  background: #ccc;
}
/* problem */
.dropbtn {
  width: 200%;
  background-color: #4CAF50;
  color: white;
  padding: 15px ;
  font-size: 16px;
  border: none;

  

}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {
  background-color: #ddd;}

.dropdown:hover .dropdown-content {
  
  display: block;}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;}





  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.sidebar{
  position: absolute;
  left: 10;
  width: 250px;
  height: 48;
  background: rgb(205, 231, 151);

 

}
 
.sidebar header{
  font-size: 20px;
  color: #aedce2;
  text-align: center;
  line-height: 56px;
  background: #31da37;
  user-select: none;
}

.sidebar ul a{
   display: block;
   height: 40px;
   width: 100%;
   line-height: 50px;
   color: #382727;
   padding-left: 40px;
   box-sizing: border-box;
   border-top: 1px solid #7ebef3;
   border-bottom: 4px solid rgb(219, 170, 170);
   transition: 0.4s;


}

ul li:hover a{
  padding-left: 50px;
}
.siderbar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancle{

  position: absolute;
  cursor: pointer;
}

label #btn{
  left: 40px;
  top:25px;
  font-size: 35px;
  color:#aedce2;
}
  
.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}

/* serchbx */


/* loginpage */
.logintable
{
  border: 2px solid #7ebef3;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 540px;
  width: 925px;

}
.sub{

  margin-left: 22%;
  

}

.pass{
  
   width: 290px;
   height: 30px;
   margin-right: 50%;
   margin-left: 10%;
}

.link
{
  float:right;
  margin-right: 0%;
  margin-top: 10px;
  text-align: center;
}

.reg{
margin-left: 3%;

}

.hero{
  height: 100%;
  width: 100%;
  background-image: ;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
     width: 380px;
     height: 480px;
     position: relative;
     margin: 6% auto ;
     background: #fff;
     padding: 5px;

}
.button-box{
  width: 220px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 15px  9px #818181;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;


}

#btn
{
  top:0;
  left: 0;
  position:absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}
.social-icon img{
  margin: 30px auto;
  text-align: center;
  margin: 0 12px;



}
.input{
  top: 100px;
  position: absolute;
  width: 280px;
  transform: 0.5s;

}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submitbtn
{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background:  linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  border-radius: 30px;

}
.chech-box{
  margin: 30px 10px 30px 0;

}
.span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login{
  left: 50px;
}
#reg{
   left: 450px;
}


/* stoooooooooooooooooooooooooop */
.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 355px;
  text-align: center;
  font-family: arial;
  margin-left: 15%;
  margin-right: 15%;
 

}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}